.content {
  margin-top: 40px;
  border: solid;
}

.list-box {
  width:80%;
  height: auto;
  margin: auto;
}

.list-container {
  border: solid;
  border-color: rgba(0, 0, 0, 0.125);
  border-radius: 10px 10px;
  margin-bottom: 20px;
  position: relative;
}

.list-container a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent:-999px;
}

.hospital-name {
  font-size:20px;
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);

}

.address-name {
  font-size:20px;
  padding: 0.75rem 1.25rem;
}


/* 投稿内容のCSS */

.posted-table {
  height: auto;
  border: solid;
  border-color:green;
  border-radius: 10px 10px 0 0px ;



}

.posted-header {
  display: flex;
  justify-content: start;
}


.user-id {
  font-size:20px;
  display: flex;
  border: solid;
  border-color:red;
  padding: 0.75rem 1.25rem;
}


.title {
  font-size:20px;
  border: solid;
  border-color:blue;
  padding: 0.75rem 1.25rem;

}



.text-container {
  padding: 0.75rem 1.25rem;
  border: solid;
  border-color:red;
  
}

.text {
  border: solid;
  border-color:yellow;
  font-size:20px;
}

.date-container {
  border-radius: 0px 0px 10px 10px ;
  border: solid;
  border-color:black;
  margin-bottom: 20px;
  padding: 0.75rem 1.25rem;

}