/* headerのcss */
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  border: solid;
  border-color: rgb(17, 241, 17);
  margin: auto;
  margin-top: 20px;
  margin-bottom:20px;
}

.header-left {
  font-size: 16px;
  text-decoration: none;

}

.header-right {
  display: flex;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}

.login {
  text-align: center;
  border: solid;
  background-color: #ea352d;
  border-color:yellow;
  border-radius: 4px;
  margin: auto;
  margin-right: 10px;
  padding: 5px 5px 5px 5px;

}
.login a{
  text-decoration: none;
}

.register {
  text-align: center;
  border: solid;
  background-color: #0099e8;
  border-color:yellow;
  border-radius: 4px;
  margin: auto;
  margin-right: 10px;
  padding: 5px 5px 5px 5px;
}

.register a{
  text-decoration: none;
}


